<!-- mypage_edit.html -->
<h1>내 정보 수정</h1>
<form method="post">
  {% csrf_token %}
  <label for="legalname">이름:</label>
  <input type="text" id="legalname" name="legalname" value="{{ user_detail.legalname }}" required>
  <br>
  <label for="phone">전화번호:</label>
  <input type="tel" id="phone" name="phone" value="{{ user_detail.phone }}" required>
  <br>
  <label for="address">주소:</label>
  <input type="text" id="address" name="address" value="{{ user_detail.address }}" required>
  <br>
  <label for="bankaccount">은행 계좌:</label>
  <input type="text" id="bankaccount" name="bankaccount" value="{{ user_detail.bankaccount }}" required>
  <br>
  <input type="submit" value="수정하기">
</form>