<!DOCTYPE html>
<html>
<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <title>Confirmation Page</title>
    <link rel="stylesheet" href="paypal.css">
</head>
<body>
    <div class="container">
        <h1>입금 안내</h1>
        <p>총 금액은 다음과 같습니다: <span id="totalAmount"></span></p>
        <p>위 금액을 하단 은행 계좌로 입금 부탁드립니다.</p>
        <p>우리 1002259629267 (김*율)</p>
        <p>입금 후 최대 24시간 이내로 요청하신 업무가 업로드됩니다. </p>
        <a href="*"><button>확인했습니다</button></a>
    </div>

    <script src="calculate.js"></script>
</body>
</html>

