form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 750px;
    margin: 100px auto;
    padding: 90px; /* 위아래 간격 늘리기 */
    text-align: center; /* 아이디와 비밀번호 요소들을 가운데로 정렬 */
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    display: flex;
    align-items: center; /* 아이콘을 수직으로 가운데 정렬 */
}

h2 span {
    display: inline-block; /* 아이콘과 제목이 옆으로 배치되는 것을 방지 */
    margin-left: auto;
    margin-right: auto;
}

input {
    width: 60%;
    max-width: 700px;
    padding: 25px; /* 간격 늘리기 */
    margin: 30px 0; /* 아이디와 비밀번호 입력란 사이 간격 늘리기 */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.forgot-password {
    color: #605dc2c5;
    margin-top: 10px; /* 비밀번호 입력란과 "비밀번호를 잊으셨나요?" 사이 간격 늘리기 */
    text-align: right; /* 우측 정렬 */
    text-decoration: none; /* 기본 밑줄 제거 */
    font-size: 14px; /* 글씨 크기 조정 */
}

.forgot-password:hover {
    text-decoration: underline; /* 호버 시 밑줄 추가 */
}

input[type="submit"] {
    background-color: #4d65ffea;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 15px; /* 간격 늘리기 */
    cursor: pointer;
    width: 60%;
    margin-top: 30px; /* 비밀번호 입력란과 로그인 버튼 사이 간격 늘리기 */
    margin-bottom: 10%
}

input[type="submit"]:hover {
    background-color: #4d65ff;
}

.login-icon {
    width: 110px; /* 아이콘 크기 */
    height: 110px; /* 아이콘 크기 */
    margin-top: 10%;
    margin-bottom: 7%; /* 아이콘과 제목 사이 간격 */
    display: block; /* 아이콘을 block 요소로 설정 */
    margin-left:auto;
    margin-right:auto
}

.signup-link {
    margin-top: 20px; /* "아직 계정이 없으신가요?" 텍스트와 버튼 사이 간격 조정 */
    font-size: 14px; /* 텍스트 크기 조정 */
    color: #605dc2c5; /* 텍스트 색상 설정 */
}

.signup-link:hover {
    margin-top: 20px; /* "아직 계정이 없으신가요?" 텍스트와 버튼 사이 간격 조정 */
    font-size: 14px; /* 텍스트 크기 조정 */
    color: #605dc2; /* 텍스트 색상 설정 */
}
/* ... 기존 스타일 ... */

.home-link {
    display: inline-block;
    background-color: #4d65ffea; /* 버튼 배경 색상 */
    color: #ffffff; /* 버튼 텍스트 색상 */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none; /* 기본 밑줄 제거 */
    margin-top: 20px;
    transition: background-color 0.3s;
}

.home-link:hover {
    background-color: #4d65ff; /* 호버 시 배경 색상 변경 */
}
